---
http_interactions:
- request:
    method: get
    uri: https://api.stagebloc.com/v1/users/402218?client_id=<STAGEBLOC_CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"metadata\":{\"http_code\":200},\"data\":{\"id\":402218,\"url\":\"https:\\/\\/stagebloc.com\\/user\\/baylorrae\",\"created\":\"2014-07-15
        21:36:16\",\"name\":\"Baylor Rae\\u0027\",\"username\":\"baylorrae\",\"bio\":\"\",\"color\":\"70,170,255\"}}"
  recorded_at: Tue, 21 Oct 2014 16:54:29 GMT
recorded_with: VCR 2.9.3
